img{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin-left: 350px;
    margin-top: 50px;
}
body{
background-color: black;
animation: circle 2s ;
}
/* @keyframes circle{
    20%{
        background-color: wheat;
    }
    40%{
        background-color: red;
    }
    80%{
        background-color: aquamarine;
    } */

h1{
    margin-left: 400px;
}
.profile{
    color: white;
    margin-left: 200px;
   border-style: square;
  
}
#lb
{
    margin-left: 250px;
}
#lb1{
    margin-left: 185px;
}
#lb2{
    margin-left: 190px;
}
#lb3{
    margin-left: 178px;
}
#lb4{
    margin-left: 194px;
}
#lb5{
    margin-left: 155px;
}
.mv{
    margin-left: 30px;
}
#cn{
    margin-left: 300px;
}
#img{
    width: 100px;
    height: 70px;
    margin-top: -20px;
    margin-left: 420px;
}
button{
    width: 200px;
}i